/datasets/cmapss/FD002_30_15_['engine', 'rul', 'random']_[0.3, 0.3, 0.8]/
/datasets/cmapss/FD002_30_15_['engine', 'rul', 'random']_[0.3, 0.03, 0.8]/
/datasets/cmapss/FD002_30_15_['engine', 'rul', 'random']_[0.3, 0.6, 0.8]/
/datasets/cmapss/FD002_30_15_['engine', 'rul', 'random']_[0.3, 0.08, 0.8]/
/datasets/cmapss/FD004_30_15_['engine', 'rul', 'random']_[0.3, 0.3, 0.8]/
/datasets/cmapss/FD004_30_15_['engine', 'rul', 'random']_[0.3, 0.03, 0.8]/
/datasets/cmapss/FD004_30_15_['engine', 'rul', 'random']_[0.3, 0.6, 0.8]/
/datasets/cmapss/FD004_30_15_['engine', 'rul', 'random']_[0.3, 0.08, 0.8]/
